APP_ENV=staging
APP_NAME=Compra Car Staging
NEXT_PUBLIC_APP_ENV=staging
NEXT_PUBLIC_APP_NAME=Compra Car Staging

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

SUPABASE_URL=
SUPABASE_SERVER_KEY=
# https://<host-de-teste>/auth/callback/invite
AUTH_INVITE_REDIRECT_URL=
# https://<host-de-teste>/auth/callback/recovery
AUTH_RECOVERY_REDIRECT_URL=

SUPABASE_INTEGRATION_URL=
SUPABASE_INTEGRATION_SERVER_KEY=
SUPABASE_INTEGRATION_VEHICLE_IDS=
